{% extends "base.html" %}
{% block title %}MTC - pièces détachés pour camion{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <!-- Slider start -->
    <div class="header-carousel">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="/static/img/truck-MTC-slider-1.webp" class="img-fluid w-100" alt="First slide">
                    <div class="carousel-caption">
                        <div class="container py-4">
                            <div class="row g-5">
                                <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="bg-secondary rounded p-5">
                                        <h4 class="text-white mb-4">Rechercher vos pièces détachées</h4>
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected="">Sélectionnez votre type de Camion</option>
                                                        <option value="1">Mercedes-benz</option>
                                                        <option value="2">Renault</option>
                                                        <option value="3">MAN</option>
                                                        <option value="4">SCANIA</option>
                                                        <option value="4">TATA</option>
                                                        <option value="4">IVECO</option>
                                                        <option value="4">DAF</option>
                                                        <option value="4">JAC</option>
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-light w-100 py-2">Recherchez</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="text-start">
                                        <h1 class="display-5 text-white">Trouvez vos pièces détachées pour camion </h1>
                                        <p>Faites-vous plaisir à Antananarivo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/truck-MTC-slider-2.webp" class="img-fluid w-100" alt="First slide">
                    <div class="carousel-caption">
                        <div class="container py-4">
                            <div class="row g-5">
                                <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="bg-secondary rounded p-5">
                                        <h4 class="text-white mb-4">Rechercher vos pièces détachées</h4>
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected="">Sélectionnez votre type de Camion</option>
                                                        <option value="1">Mercedes-benz</option>
                                                        <option value="2">Renault</option>
                                                        <option value="3">MAN</option>
                                                        <option value="4">SCANIA</option>
                                                        <option value="4">TATA</option>
                                                        <option value="4">IVECO</option>
                                                        <option value="4">DAF</option>
                                                        <option value="4">JAC</option>
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-light w-100 py-2">Recherchez</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="text-start">
                                        <h1 class="display-5 text-white">Trouvez vos pièces détachées pour camion </h1>
                                        <p>Faites-vous plaisir à Antananarivo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->
{% endblock content %}

