<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="prose p-10">
    <h1>Edit famille_mtc: {{ item.id }}</h1>
    <div class="mb-10">
    <form hx-post="/famille_mtcs/{{ item.id }}" hx-ext="submitjson" hx-target="#success-message">
    <div class="mb-5">
     <div>
        <label>code</label>
        <br />
        </div>
    <div>
        <label>designation</label>
        <br />
        <textarea id="designation" name="designation" type="text">{{item.designation}}</textarea>
        </div>
    <div>
        <label>pix</label>
        <br />
        <input id="pix" name="pix" type="text" value="{{item.pix}}"></input>
        </div>
    <div>
        <label>prix_ttc</label>
        <br />
        </div>
    <div>
        <label>reference</label>
        <br />
        <input id="reference" name="reference" type="text" value="{{item.reference}}"></input>
        </div>
    <div>
        <label>oem</label>
        <br />
        <input id="oem" name="oem" type="text" value="{{item.oem}}"></input>
        </div>
    <div>
        <label>keywords</label>
        <br />
        <input id="keywords" name="keywords" type="text" value="{{item.keywords}}"></input>
        </div>
    <div>
    <div class="mt-5">
            <button class=" text-xs py-3 px-6 rounded-lg bg-gray-900 text-white" type="submit">Submit</button>
            <button class="text-xs py-3 px-6 rounded-lg bg-red-600 text-white"
                        onclick="confirmDelete(event)">Delete</button>
        </div>
    </form>
    <div id="success-message" class="mt-4"></div>
    <br />
    <a href="/famille_mtcs">Back to famille_mtc</a>
    </div>
    <script>
        htmx.defineExtension('submitjson', {
            onEvent: function (name, evt) {
                if (name === "htmx:configRequest") {
                    evt.detail.headers['Content-Type'] = "application/json"
                }
            },
            encodeParameters: function (xhr, parameters, elt) {
                const json = {};
                for (const [key, value] of Object.entries(parameters)) {
                    const inputType = elt.querySelector(`[name=${key}]`).type;
                    if (inputType === 'number') {
                        json[key] = parseFloat(value);
                    } else if (inputType === 'checkbox') {
                        json[key] = elt.querySelector(`[name=${key}]`).checked;
                    } else {
                        json[key] = value;
                    }
                }
                return JSON.stringify(json);
            }
        })
        function confirmDelete(event) {
            event.preventDefault();
            if (confirm("Are you sure you want to delete this item?")) {
                var xhr = new XMLHttpRequest();
                xhr.open("DELETE", "/famille_mtcs/{{ item.id }}", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        window.location.href = "/famille_mtcs";
                    }
                };
                xhr.send();
            }
        }
    </script>
</body>

</html>
