<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="prose p-10">
     <h1>marque_oem</h1>
     <div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"marque_oem" | capitalize }}:</b> {{item.marque_oem}}</label>
                </div>
            <a href="/marque_oems/{{ item.id }}/edit">Edit</a>
            <a href="/marque_oems/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/marque_oems/new">New marque_oem</a>
    </div>
</body>

</html>